<div class="container">
    <div class="finder">
        <h1>Find Github User</h1>    
        <div class="row">
            <!--Inicio: Buscador de usuarios en github-->
            <div class="pseudo-search mt-4">
                <input type="text" #userSearchInput >
                <button>
                    <i class="fa-brands fa-github"></i>
                </button>
                <button>
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>         
            </div>  
            <!--Fin: Buscador de usuarios en github-->      
        </div>
    </div>
    <div class="center mt-5">
        <app-user *ngIf="user" [user]="user"></app-user>
    </div>
</div>
